.parent {
    max-width: 960px;
    height: 400px;
    background: red;
    margin: 0 auto;
    position: relative;
}

.child {
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid aqua;
    background: green;
}

.test {
    position: relative;
    display: inline-block;
    background: aqua;
    width: 100px;
}

.test:nth-child(3) {
    top: 40px;
    left: 40px;      /*count from parent, parent=1, test1=2*/
}